{% extends "base.html" %}

{% block head %}
<title>Task Manager</title>

{% endblock %}

{% block body %}
<div class="container">
    <h1>Task Master</h1>

    <!-- Form to add tasks -->
    <form action="/add" method="POST">
        <input type="text" name="content" placeholder="Enter task...">
        <button type="submit">Add Task</button>
    </form>

    <br>

    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.strftime('%Y-%m-%d') }}</td>
            <td>
                <a href="/delete/{{ task.id }}">Delete</a>
                <br>
                <a href="/update/{{ task.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}